$primary-color: #FFC0CB;
$secondary-color: #FFB6C1;
$tertiary-color: #FF69B4;
$quaternary-color: #FF1493;
$quinary-color: #FFF0F5;
$senary-color: #FFFFFF;
$light-color: #FFF5EE;
$black: #000000;

*:focus {
  outline: none;
  box-shadow: none;
}

* {
  user-select: none;
}

html {
  background-color: $quaternary-color;
  overflow-x: hidden;
  height: 100vh;
}

html,
app-root,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: $black;
  overflow: hidden;
  background: linear-gradient(45deg, $primary-color, $secondary-color, $tertiary-color, $quaternary-color, $quinary-color, $senary-color);
  background-size: 300% 300%;
  background-repeat: no-repeat;
  animation: gradientAnimation 12s ease infinite;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

footer {
  user-select: none;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0;
  letter-spacing: 2px;
  text-shadow: 0 0 4px black;
}

app-rsvp {
  height: 100vh;
  width: 100vw;
}

:host {
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: -webkit-fill-available;
  width: -moz-available;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  padding: 20px;
}

.nav-container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 50%;
    background: $quaternary-color;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
  
  &:hover:after {
    width: 100%;
  }
}

.hero {
  height: 100%;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.arrow-link {
  display: contents;
}

#map > div > div.ol-overlaycontainer-stopevent > div.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
  display: none !important;
}

#current {
  cursor: default;
  
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 50%;
    background: $quaternary-color;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
}