$primary-color: #FFC0CB;
$secondary-color: #FFB6C1;
$tertiary-color: #FF69B4;
$quaternary-color: #FF1493;
$quinary-color: #FFF0F5;
$senary-color: #FFFFFF;
$light-color: #FFF5EE;
$black: #000000;

*:focus {
    outline: none;
    box-shadow: none;
}

* {
    user-select: none;
}

html {
    background-color: $quaternary-color;
}

html,
app-root,
body {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    color: $black;
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #25053d;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

footer {
    user-select: none;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
    letter-spacing: 2px;
    text-shadow: 0 0 4px black;
}

app-rsvp {
    height: -webkit-fill-available;
}