<app-heart-animation></app-heart-animation>
<header class="header">
  <nav class="nav-container">
    <a href="/home" class="nav-link" id="current">Home</a>
    <a href="/map" class="nav-link">Map</a>
    <a href="/media" class="nav-link">Media</a>
  </nav>
</header>

<section class="hero">
  <div class="hero-content">
    <h1 class="names" @fadeInOut>
      <span>Driss & Nawal</span>
      <span>Are Getting Married</span>
    </h1>
    <div class="date-location" @fadeInOut>
      <p class="dates">July 18, 2025 • Hammamet, Tunisia</p>
      <p class="dates">July 20, 2025 • Tunis, Tunisia</p>
    </div>
    <div class="countdown" @fadeInOut>
      <div class="countdown-item">
        <div class="number">{{countdown.days}}</div>
        <div class="label">Days</div>
      </div>
      <div class="countdown-item">
        <div class="number">{{countdown.hours}}</div>
        <div class="label">Hours</div>
      </div>
      <div class="countdown-item">
        <div class="number">{{countdown.minutes}}</div>
        <div class="label">Minutes</div>
      </div>
      <div class="countdown-item">
        <div class="number">{{countdown.seconds}}</div>
        <div class="label">Seconds</div>
      </div>
    </div>
    <div class="rsvp">
      <a href="/rsvp" class="arrow-link">
        <button class="cta">
          <span class="hover-underline-animation">RSVP</span>
          <svg
            id="arrow-horizontal"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="10"
            viewBox="0 0 46 16"
          >
            <path
              id="Path_10"
              data-name="Path 10"
              d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
              transform="translate(30)"
              fill="white"
            ></path>
          </svg>
        </button>
      </a>
      <div class="about">
        &copy;
        <span class="tooltip-text">2024, Omar Benzekri</span>
      </div>
    </div>
  </div>
</section>